<!DOCTYPE html>
<html>
<head>
  <title>Bandkum2</title>
  <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
 <%= render partial: 'common/header' %>
<%= yield %>

</body>
</html>
